<html>
    <head>

        <title>Teste</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <meu-formulario  
                        v-for="item in listaCampos" 
                        :key="item" 
                        :label="item"
                        @btn-salvar-form="mostrarValor">
            </meu-formulario>
            
        </div>

        <script>
            const formulario = Vue.component('meu-formulario', {
                template:   '<div>' + 
                                '<span> {{ label }} </span>' + 
                                '<input type="text" v-model="texto" />' + 
                                '<input type="button" @click="limpar" value="limpar"></button>' + 
                                '<input type="button" @click="salvar" value="salvar"></button>' + 
                                '<p> {{ textoReverso }} </p> ' +
                            '</div>',

                props: {
                    label: { type: String, required: true},  // ÓTIMO
                },
            
                data() {
                    return {
                        texto: ''
                    };
                },
                // computed é mais performático do que methods
                // methods é utilizado para botões.
                computed: {
                    textoReverso() {
                        return this.texto.split('').reverse().join('');
                    }
                },
                methods: {
                    limpar() {
                        this.texto = '';
                    },

                    salvar() {
                        this.$emit('btn-salvar-form', this.texto);
                    }
                }
            })



            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        listaCampos: [
                            'Nome',
                            'Email',
                            'Telefone'
                        ]
                    }
                },
                methods: {
                    mostrarValor(value) {
                        alert(value);
                    }
                }
            })

        </script>
    </body>
</html>